<h1>Make a payment</h1>
<form [formGroup]="paymentForm">
  <div class="form-group">
    <label>From account:</label>
    <app-from-account id="formGroupExampleInput"
                      (onItemSelected)="accountSelected($event)"
                      [group]="paymentForm"
                      [accounts]="fromAccounts"
                      [placeholder]="'Account your are paying from'"></app-from-account>
  </div>

  <div class="form-group">
    <label>To account:</label>
    <app-to-account [accounts]="fromAccounts"
                    (onItemSelected)="payeeSelected($event)"
                    [group]="paymentForm"
                    [placeholder]="'Account or biller you are paying to'"></app-to-account>
  </div>

  <div class="form-group">
    <label>When:</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker" formControlName="startDate">
      <div class="input-group-addon" (click)="d.toggle()" >
        <!--<img src="/assets/images/bg-main.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>-->
      </div>
    </div>
  </div>
</form>